table{width:500px;
    border :1px solid #dddddd     
}  
  th{text-align:left;
    padding : 8px;
background-color: aquamarine;
}
  td {
    border: 1px solid #dddddd;
    padding : 8px;
    background-color: lightgreen;   
}
